.remove-padding {
    padding: 0px;
}
.center-align {
    text-align: center;
}
.card {
    animation-name: reverseShadowAnimate;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    -moz-animation-name: reverseShadowAnimate;
    -moz-animation-duration: 500ms;
    -moz-animation-fill-mode: forwards;
}

.card:hover {
    animation-name: shadowAnimate;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    -moz-animation-name: shadowAnimate;
    -moz-animation-duration: 500ms;
    -moz-animation-fill-mode: forwards;
}
@keyframes shadowAnimate {
    from {  
        box-shadow: 0;
    }to {
        box-shadow: 5px 2px 10px 5px;   
    }
}
@keyframes reverseShadowAnimate {
    from {
        box-shadow: 5px 2px 10px 5px;   
    } 
    to {
        box-shadow: 0;
    }
}